body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: #CBE4DE;
    background-color: #2C3333;
    font-size: 62.5%;
}
header{
    position: relative;
    min-width: 100%;
    background-color: #2E4F4F;
    text-align: center;
    padding-top: 3em;
}
.waves{
    position: relative;
    bottom: 0;
    margin-bottom: -2%;
}
h1{
    margin-top: 3em;
    font-size: 5em;
}
h3{
    font-size: 2.5em;
}
main{
    text-align: center;
    margin-top: 10em;
}
h2{
    font-size: 4em;
}
main h3{
    margin: 5em 0;
}
.framework{
    text-align: center;
    width: 100%;
    display: flex;
    margin-bottom: 5em;
}
.framework img{
    width: 8vw;
}
.fw-logo{
    margin: auto 0;
    width: 30%;
}
.fw-text{
    margin: auto 0;
    width: 70%;
}
.fw-circle{
    box-shadow:black  -0.3vw 0px 0px 0.3vw, 0 0 0.5vw #0E8388 inset;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10vw;
    width: 10vw;
    padding: 5%;
    background-color: #2E4F4F;
    margin: auto;
    border-radius: 100%;
}
.fw-sign{
    margin: 3em 4em;
    background-color: #2E4F4F;
    padding: 2em;
    border-radius: 2em;
}
.fw-sign h4{
    font-size: 2.25em;
}
.fw-sign p{
    text-align: justify;
    font-size: 1.75em;
}